@import 'mixins';
.product{
   width: 200px;
   height: 300px;

   &__img{
      width: 100%;
   }

   &__title{
      margin-top: 10px;
      text-align: center;
      @include interMedium();
      color: white;
   }
}